.light {

  position: relative;
  width: 80px;
  height: 80px;
  background-color: green;
  /*dark Grey*/
  border-radius: 50%;

}

.light::before {
  position: absolute;
  content: ' ';
  width: 35px;
  height: 80px;
  background-color: #444;
  border-radius: 10px;
  left: 25%;
}