.box {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;


}

.one {
/* position: relative; */
 z-index: 1;
    background-color: aquamarine;
}

.two {
    background-color: darksalmon;
    position: relative;
    bottom: 50px;

    /* is case 2nd no 1 ke upar overlap hio rha hai
    to koun sa upar rahega 1 or 2 iske liye we use z-index */

}