/* h2{
    display: inline;
}
span{
    display: block;
} */


#Ram{
    color: red;
    border: 2px solid black;
    height: 50px;
    width: 50px;
    padding: 100px;
    margin: 20px;

}

span {
    color: red;
    border: 2px solid black;
    height: 50px;
    width: 50px;

    
    /* span elements ka height or width apply
                      hi nhi  hoga kitna bhi badlo same rhega */


    padding: 100px;
    margin: 20px;
    /* padding or margin  sirf left or right 
    side apply hoga */
}
