div {
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3PX SOLID black;
    margin: 20px;
    display: inline-block;

}

#static{

    background-color: yellow;
    position: relative;
   /* top: 500px;  */
    bottom: 10px;
    left: 100px;
    
    /* since ye oehle se hi static posn me hai so it 
    does not change its locn. */
}
